<div class="container">
  <h1> All Your Movie Lists</h1>
  <%= link_to("Create New List", new_list_path, class: "btn btn-info d-inline-block") %>
  <div class="row gap-2">
    <% @lists.each do |list| %>
      <div class = "card list-card
      d-flex flex-row align-items-center justify-content-center
      col-md-5">
        <%= link_to(list.name, list_path(list)) %>
      </div>
    <% end %>
  </div>
</div>
